<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 수업 -->
   <bean class="test.GaPhone" id="phone" lazy-init="true">
   		<constructor-arg ref="aw"></constructor-arg>
   		<!-- <constructor-arg value="사용자이름"></constructor-arg> -->
   </bean>
   
   <bean class="test.SmartWatch" id="sw" lazy-init="true"/>
   <bean class="test.AppleWatch" id="aw" lazy-init="true"/>
   
 
<!-- 개인실습 -->
   <bean class="oven.B_Oven" id="oven">
   		<constructor-arg ref="lRemote"></constructor-arg>
   		<!--<constructor-arg ref="sRemote"></constructor-arg>  -->
   </bean>
   
   
   
   <bean class="oven.Sam_App" id="sRemote"></bean>
   <bean class="oven.LG_App" id="lRemote"></bean>
   
</beans>
